// button styles

%btn {
	padding: 20px 25px;
	line-height: 1;
	letter-spacing: 2px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: $primaryfont;
	font-weight: $normal;
	border: 2px solid $white;
	background: transparent;
	cursor: pointer;
	color: $white;
	transition: all .2s ease-in-out;

	&:hover,
	&:focus {
		background: $white;
		color: $black;
		outline: none;
	}
}

.btn {
	@extend %btn;
}