// button styles

%btn {
	padding: 20px 25px;
	line-height: 1;
	letter-spacing: 2px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: $primaryfont;
	font-weight: $normal;
	border: 2px solid $white;
	background: transparent;
	cursor: pointer;
	color: $white;
	transition: all .2s ease-in-out;

	&:hover,
	&:focus {
		background: $white;
		color: $black;
		outline: none;
	}
}

.btn {
	@extend %btn;

  &--plus {
    padding: 0;
    border-radius: none;
    width: 20x;
    height: 20px;
    padding: 24px;
    line-height: 0;
    color: $white;
    background: transparent;

    &::before,
    &::after {
      position: absolute;
      right: 24px;
      top: 13px;
      content: '';
      height: 20px;
      width: 2px;
      background: $white;
      transition: all .2s ease-in-out;
    }

    &:before {
      transform: rotate(90deg);
    }

    &:after {
      transform: rotate(0deg);
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        background: $gray;
      }
    }
  }

  &--modal_close {
    width: 20px;
    height: 20px;
    line-height: 0;
    color: #fff;
    background: transparent;
    border: 2px solid $black;
    padding: 15px;

    &::before,
    &::after {
      position: absolute;
      right: 14px;
      top: 8px;
      content: "";
      height: 14px;
      width: 2px;
      background: $gray;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}