//image-widget styles 
.image {
  $p: &;

  &-widget {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .btn {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
    }

    .image {
      display: block;
      width: 100%;
      height: 350px;
      position: relative;

      @include desktop {
        height: 450px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}