// Normalize styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';

@import "./_fonts";

// Variables
// Breakpoints
$bpMobile: 320px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1440px;

// Fonts
$primaryfont: Verdana, Arial, Helvetica, sans-serif;
$base: 16;
$thin: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ultra-bold: 900;

// Colours
$black: #1A1A1A;
$gray: #2E2E2E;
$gray2: #c3c3c3;
$white: #ffffff;

// Mixins
@function calc-em($target, $context: $base) {
  @return $target / $context * 1em;
}

@mixin visuallyhidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin mobile {
  @media (max-width: $bpTablet - 1) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bpDesktop) {
    @content;
  }
}

@mixin lgDesktop {
  @media (min-width: $bpLgDesktop) {
    @content;
  }
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: $primaryfont;
  font-size: calc-em(16);
  margin: 0;
  padding: 0;
  background: $black;
  line-height: 1.4;

  .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
  
    @include lgDesktop {
      max-width: 1300px;
    }
  }

  h1 {
    font-size: calc-em(64);
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: $white;
  }

  .project {
    color: $white;
    margin: 5em 0;

    .container {
      text-align: center;
    }

    &-title {
      margin: 0 0 3em;
    }

    .title {
      font-size: calc-em(48);
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: 8px;
      margin: 0 0 10px;

      @include desktop {
        font-size: calc-em(64);
        letter-spacing: 15px;
      }
    }

    .subtitle {
      text-transform: uppercase;
      font-size: calc-em(12);
      letter-spacing: 5px;
    }

    .content {
      padding: 0;
      font-size: calc-em(18);
      width: 100%;
      margin: 2em auto;

      @include desktop {
        width: 90%;
        padding: 0 1em;
        font-size: calc-em(24);
      }
    }
  }
}



@import "../_modules/atoms/button/button";
@import "../_modules/molecules/modal/modal";
@import "../_modules/molecules/carousel/carousel";
@import "../_modules/molecules/rte/rte";
@import "../_modules/molecules/image-widget/image-widget";
@import "../_modules/organisms/header/header";
