//header styles 
.header {
  $p: &;
  display: block;
  
  &-wrap {
    padding: 3em 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #{$p}-logo {
      flex-grow: 1;
    }

    #{$p}-title {
      flex-grow: 1;
      color: $white;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: 2px;
      font-size: calc-em(18);
    }
  }
}