extends _layouts/base

include ./_modules/atoms/button/button
include ./_modules/molecules/carousel/carousel
include ./_modules/molecules/rte/rte

block config
	- var page = 'homepage'
	- var site = htmlWebpackPlugin.options //global site data

block content
	+carousel({
		"__carousel": [
			{
				"img": "/assets/images/img.png",
				"title": "Feature Image or Slider - 1"
			},
			{
				"img": "/assets/images/img.png",
				"title": "Feature Image or Slider - 2"
			},
			{
				"img": "/assets/images/img.png",
				"title": "Feature Image or Slider - 3"
			}
		]
	})

	+rte()(style="text-align: center")
		h1 Project

		p Test for Responsive Design

		h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta. Fusce vel ultricies purus. In consectetur nibh odio, mattis varius purus faucibus in. 

		+button({
			"__type": "button",
			"__text": "Read more",
			"__class": "read-more"
		})
